[core]
	# 改行コードの自動変換をしない
	autocrlf = false
	# ファイル名の大文字と小文字を区別する
	ignorecase = false 
	# 日本語ファイル名をエンコードしない
	quotepath = false

[color]
	# 色付け
	ui = true

[user]
	name = yoshihiro.yoshida
	email = marchwind0070@gmail.com
